.App {
    text-align: center;
  }
  
  .App-logo {
    display: inline-block;
    height: 60px;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
  }
  
  .App-main {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: slategray;
  }
  
  .App-link {
    color: #61dafb;
  }